@font-face {
	font-family: "Gilroy Light";
	src: url("../fonts/gilroylight.woff") format("woff");
	src: url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
	font-family: "Gilroy Bold";
	src: url("../fonts/gilroyextrabold.woff") format("woff");
	src: url("../fonts/gilroyextrabold.woff2") format("woff2");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	font-weight: 300;

	background-color: #ffffff;
}

/*body > * {
	background: rgba(255, 0, 0, 0.3);
}

body > * > * > * {
	background: rgba(255, 0, 255, 0.3);
}

body > * > * > * > * {
	background: rgba(255, 0, 200, 0.3);
} */

a {
	text-decoration: none;
}

h2 {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.5px;
	color: #000000;
}

/*.main-header {
	background-color: #f7e296;
}*/

.main-header-logo a:hover {
	opacity: 0.6;
}

.main-footer {
	background-color: #464646;
}

.search,
.header-user-menu,
.site-navigation,
.brands-list,
.catalog-menu-section-1,
.catalog-menu-section-2,
.catalog-menu-section-3,
.breadcrumbs,
.catalog-list {
	list-style: none;
}

.header-user-menu a,
.site-navigation a,
.catalog-menu a,
.breadcrumbs a,
.catalog-list a {
	color: #000000;
}

.search-bar,
.header-user-menu {
	font-family: "Open Sans", sans-serif;
}

.search-field {
	border:none;
	outline: none;
  background-color: #f7e296;
}

.search-bar,
.breadcrumbs-link {
	opacity: 0.3;
}

.search-bar:hover,
.breadcrumbs-link:hover {
	opacity: 0.6;
}

.search-bar:focus {
	opacity: 1;
}

.breadcrumbs-link:active {
	opacity: 0.1;
}

.catalog-menu-item {
	letter-spacing: 0.2px;
}

.user a:hover,
.login-link a:hover,
.logout-link a:hover,
.compare-link a:hover,
.cart-link a:hover,
.catalog-menu-item a:hover {
	opacity: 0.6;
}

.user a:active,
.login-link a:active,
.logout-link a:active,
.compare-link a:active,
.cart-link a:active,
.catalog-menu-item a:active {
	opacity: 0.3;
}

.footer-login-link a,
.footer-compare-link a,
.footer-cart-link a {
	opacity: 0.7;
}

.footer-login-link a:hover,
.footer-compare-link a:hover,
.footer-cart-link a:hover {
	opacity: 1;
}

.footer-login-link a:active,
.footer-compare-link a:active,
.footer-cart-link a:active {
	opacity: 0.3;
}

.catalog-link a:hover,
.delivery-link a:hover,
.warranty-link a:hover, 
.contacts-link a:hover,
.catalog-item a:hover {
	opacity: 0.6;
}

.catalog-link a:active,
.delivery-link a:active,
.warranty-link a:active, 
.contacts-link a:active,
.catalog-item a:active {
	opacity: 0.3;
}

.trans-companies {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 16px;
	color: #000000;
	line-height: 40px;
}

.catalog-item-title {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 0.2px;
	line-height: 24px;
	color: #000000;
}

.catalog-item-price {
	font-size: 16px;
}

.site-navigation a,
.about a,
.contacts a,
.filters p {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 3.6px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}

.about a:active,
.contacts a:active {
	opacity: 0.3;
}

.breadcrumbs li {
	font-size: 14px;
	line-height: 24px;
}

.page-title {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 47px;
	letter-spacing: 1px;
	line-height: 48px;
	color: #000000;
}

.address,
.phone {
	color: #ffffff;
}

.footer-user-menu a {
 color: #ffffff;
}

.footer-site-menu a {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 3.6px;
	line-height: 24px;
	color: #ffffff;
	text-transform: uppercase;
}

.logo-html {
	background-color: f4be04;
}

/*-------Сетки-------*/

body {
	width: 1440px;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header-logo {
	width: 164px;
	height: 36px;
}

.main-navigation-wrapper {
	width: 1160px;
	min-height: 299px; /*временно для сеток*/
	background-color: #f7e296;
	margin-top: 40px;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0;
}

.main-header-logo-wrapper {
	margin: 0 auto;
	padding: 0 60px;
}

.header-user-menu-wrapper {
	padding: 0 60px;
}

.main-navigation-wrapper .header-user-menu-wrapper  {
	display: flex;
	justify-content: space-between;
}

.site-navigation-wrapper {
	margin-top: 50px;
	padding: 0 60px;
}

.search {
	padding: 0;
	margin: 0;
}

.header-user-menu {
	padding: 0;
	margin: 0;
}

.site-navigation {
	padding: 0;
	margin: 0;	
}

.index-row {
	margin-top: 93px;
}

.brands-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
} 

.index-columns {
	display: flex;
	justify-content: space-between;
	margin-top: 93px;
}

.about {
	width: 488px;
}

.contacts {
	width: 562px;
}

.page-title {
	padding-left: 60px;
}

.breadcrumbs {
	padding-left: 60px;
}

.catalog-columns {
	display: flex;
}

.filters {
	width: 328px;
	min-height: 1287px;
	padding-left: 60px;
}

.catalog {
	width: 832px;
}

.catalog-list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.catalog-item {
	width: 360px;
	min-height: 500px;
	margin-bottom: 20px;
	margin-right: 40px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.main-footer {
	margin-top: 95px;
	padding-top: 65px;
}

.main-footer .container {
	display: flex;
	flex-direction: column;
}

.footer-top {
	display: flex;
	justify-content: space-between;
}

.footer-middle {
	display: flex;
	justify-content: space-between;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
}