@font-face {
	font-family: "Gilroy Light";
	src: url("../fonts/gilroylight.woff") format("woff");
	src: url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
	font-family: "Gilroy Bold";
	src: url("../fonts/gilroyextrabold.woff") format("woff");
	src: url("../fonts/gilroyextrabold.woff2") format("woff2");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1440px;

	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	font-weight: 300;

	background-color: #ffffff;
}

/*body > * {
	background: rgba(255, 0, 0, 0.3);
}

body > * > * > * {
	background: rgba(255, 0, 255, 0.3);
}

body > * > * > * > * {
	background: rgba(255, 0, 200, 0.3);
} */

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

h2 {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.5px;
	color: #000000;
}

/*.main-header {
	background-color: #f7e296;
}*/

.main-header-logo a:hover {
	opacity: 0.6;
}

.main-footer {
	background-color: #464646;
}

.search,
.header-user-menu,
.header-login-user-menu,
.header-user-menu-item {
	display: flex;
	flex-wrap: wrap;
}

.icon {
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-top: 6px;
	padding-right: 18px;
}

.search,
.header-user-menu,
.header-login-user-menu,
.header-user-menu-item,
.site-navigation,
.services-item,
.contacts-item,
.brands-list,
.catalog-menu-section-1,
.catalog-menu-section-2,
.catalog-menu-section-3,
.breadcrumbs,
.catalog-list {
	list-style: none;
}

.header-user-menu a,
.header-login-user-menu a,
.header-user-menu-item a,
.site-navigation a,
.services-item a,
.contacts-item a,
.catalog-menu a,
.breadcrumbs a,
.catalog-list a {
	color: #000000;
}

.header-user-menu .login-link {
	position: relative;
	padding-left: 27px;
}

.header-login-user-menu .login-link {
	position: relative;
	padding-left: 27px;
}

.login-link::before {
	content: "";
	position: absolute;
  top: 4px;
  left: 4px;

	width: 13px;
	height: 13px;

	background-image: url(../img/user.svg);
	background-repeat: no-repeat;
}

.header-user-menu-item .compare-link {
	position: relative;
	padding-left: 27px;
}

.compare-link::before {
	content: "";
	position: absolute;
  top: 4px;
  left: 4px;

	width: 10px;
	height: 10px;

	background-image: url(../img/compare.svg);
	background-repeat: no-repeat;
}

.header-user-menu-item .cart-link {
	position: relative;
	padding-left: 27px;
}

.cart-link::before {
	content: "";
	position: absolute;
  	top: 4px;
  	left: 4px;

	width: 12px;
	height: 12px;

	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
}

.breadcrumbs .breadcrumbs-link {
	position: relative;
	padding-right: 20px;
}

.breadcrumbs-link:after {
	content: "";
	position: absolute;
  	top: 7px;
  	right: 8px;

	width: 4px;
	height: 7px;

	background-image: url(../img/nav-arrow.svg);
	background-repeat: no-repeat;

	opacity: 1;
}

.search-bar,
.header-user-menu,
.header-user-menu-item {
	font-family: "Open Sans", sans-serif;
}

.search-field {
	border:none;
	outline: none;
    background-color: #f7e296;
}

.search-bar,
.breadcrumbs-link a {
	opacity: 0.3;
}

.search-bar:hover,
.breadcrumbs-link:hover {
	opacity: 0.6;
}

.search-bar:focus {
	opacity: 1;
}

.breadcrumbs-link:active {
	opacity: 0.1;
}

.catalog-menu-item {
	letter-spacing: 0.2px;
}

.user a:hover,
.header-user-menu a:hover,
.header-login-user-menu a:hover,
.header-user-menu-item a:hover,
.catalog-menu-item a:hover {
	opacity: 0.6;
}

.header-user-menu a:active,
.header-login-user-menu a:active,
.header-user-menu-item a:active,
.catalog-menu-item a:active {
	opacity: 0.3;
}

.footer-login-link a,
.footer-compare-link a,
.footer-cart-link a {
	opacity: 0.7;
}

.footer-login-link a:hover,
.footer-compare-link a:hover,
.footer-cart-link a:hover {
	opacity: 1;
}

.footer-login-link a:active,
.footer-compare-link a:active,
.footer-cart-link a:active {
	opacity: 0.3;
}

.site-navigation a:hover,
.catalog-item a:hover,
.services-item a:hover,
.contacts-item a:hover,
.footer-site-menu a:hover {
	opacity: 0.6;
}

.site-navigation a:active,
.catalog-item a:active,
.services-item a:active,
.contacts-item a:active,
.footer-site-menu a:active {
	opacity: 0.3;
}

.filters-wrapper {
	width: 468px;
	background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.catalog-wrapper {
	width: 900px;
	background: rgba(254, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.trans-companies {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 16px;
	color: #000000;
	line-height: 40px;
	list-style: circle;
	margin: 58px 0 58px 0;
	padding: 0 0 0 18px;
}

.trans-companies li {
	padding-left: 26px;
}

.catalog-item-title {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 0.2px;
	line-height: 24px;
	color: #000000;
}

.catalog-item-price {
	font-size: 16px;
}

.plus-icon {
	background-image: url(../img/plus.svg);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 12px;
	opacity: 0.3;
}

.compare-link {
	padding-right: 32px;
}

.about p,
.contacts p {
	margin: 0;
	margin-bottom: 51px;
}

.about h2,
.contacts h2 {
	margin: 0;
	margin-bottom: 51px;
}

.map-container {
	position: relative;
	height: 323px;
}

.write-us {
	position: absolute;
	bottom: 0;
}

.site-navigation a,
.services-item a,
.contacts-item a,
.about a,
.contacts a {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 3.6px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}

.button {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 3.6px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;

	border: none;
}

.about a:active,
.contacts a:active {
	opacity: 0.3;
}

.breadcrumbs li {
	font-size: 14px;
	line-height: 24px;
}

.page-title {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 47px;
	letter-spacing: 1px;
	line-height: 48px;
	color: #000000;
}

.address,
.phone {
	color: #ffffff;
}

.footer-user-menu a {
 color: #ffffff;
}

.footer-site-menu a {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 3.6px;
	line-height: 24px;
	color: #ffffff;
	text-transform: uppercase;
}

.logo-html {
	background-color: f4be04;
}

/*-------Сетки-------*/


.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header-logo {
	width: 164px;
	height: 36px;
	position: relative;
	bottom: 19px;
}

.main-navigation-wrapper {
	width: 1160px;
	min-height: 299px; /*временно для сеток*/
	background-color: #f7e296;
	margin-top: 40px;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0;
}

.catalog-container {
	width: 1440px;
	margin: 0 auto;
	padding: 0;
}

.main-header-logo-wrapper {
	margin: 0 auto;
	padding: 0 60px;
}

.header-user-menu-wrapper {
	padding: 0 63px;
}

.main-navigation-wrapper .header-user-menu-wrapper  {
	display: flex;
	justify-content: space-between;
}

.site-navigation-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	padding: 0 60px;
}

.site-navigation,
.services-item,
.contacts-item {
	display: flex;
	flex-wrap: wrap;
}

.services-item,
.contacts-item {
	padding: 0;
	margin: 0;
}

.services-item li:nth-of-type(1n+2) {
	margin-left: 34px;
}

.search {
	padding: 0;
	margin: 0;
}

.header-user-menu {
	padding-left: 114px;
	margin: 0;
}

.header-login-user-menu {
	padding-left: 272px;
	margin: 0;
}
 
.header-login-user-menu li:nth-child(1) {
	padding-right: 24px;
}


.header-user-menu-item {
	padding: 0;
	margin: 0;
}

.site-navigation {
	padding: 0;
	margin: 0;
	width: 435px;
}

.index-row {
	margin-top: 93px;
}

.brands-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
} 

.index-columns {
	display: flex;
	justify-content: space-between;
	margin-top: 93px;
}

.about {
	width: 488px;
}

.contacts {
	width: 562px;
}

.page-title {
	margin: 0;
	padding: 0;
	padding-left: 198px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 328px;
	min-height: 1287px;
	padding-left: 184px;
}

.filters fieldset {
	border: none;
}

.filters legend {
	font-family: "Gilroy Bold", Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 0.2px;
	line-height: 24px;
	color: #000000;	
}

.filters ul {
	list-style: none;
}

.catalog {
	width: 900px;
}

.catalog-menu {
	display: flex;
	flex-wrap: wrap;
}

.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-left: 198px;
}

.catalog-list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.catalog-item {
	width: 360px;
	min-height: 500px;
	margin-bottom: 20px;
	margin-right: 40px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.main-footer {
	margin-top: 95px;
	padding-top: 65px;
}

.main-footer .container {
	display: flex;
	flex-direction: column;
}

.footer-top,
.footer-middle {
	display: flex;
	justify-content: space-between;
}

.footer-user-menu {
	display: flex;
}

.footer-user-menu {
	margin: -3px 0 0 0;
	padding: 0;
}

.footer-user-menu li:nth-child(2) {
	padding-left: 64px;
	padding-right: 64px;
}

.footer-middle {
	margin-top: 24px;
}

.footer-middle p {
	margin: -4px 0 0 -1px;
	padding: 0;
}

.footer-site-menu {
	padding: 0;
	margin: 0 38px 0 0;
}

.footer-site-menu {
	display: flex;
	flex-wrap: wrap;
}

.footer-site-menu li:nth-child(2) {
	padding-left: 34px;
	padding-right: 32px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	margin: 44px 0 42px 0;
}

.social-buttons {
	display: flex;
}